#invest {
  text-align: center;
}

.jumbotron {
  background-image: url("../img/cryptobus2b.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-clip: padding-box;
}

#timeline {
  width: 95%;
}

#title {
  text-align: right;
  margin-right: 85px;
}
