.jumbotron {
  border: 2px solid #777777;
}

.blockchainBox {
  font-family: "Times New Roman", Times, serif;
  background-color: #BABABA;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid #777777;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.blockchainBox h1 {
  text-align: center;
  font-size: 60px;
}

.blockchainBox p {
  font-size: 20px;
}

.bitcoinBox {

  background-color: #BABABA;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid #777777;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.bitcoinBox h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
}

.bitcoinBox p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.bitcoinBox h4 {
  text-align: center;
  color: white;
  text-shadow: 0.04cm 0.04cm 0.04cm black;
}

/* Dropdown Button */
.menubtn {
    background-color: #005FB9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.menubtn:hover, .menubtn:focus {
    background-color: #BABABA;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.menu-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
